# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
build
.svelte-kit
package
**/.env
**/.env.*
!**/.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
test-results
playwright-report
playwright/.cache

**/winter*
# Local Netlify folder
**/.netlify

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.3.2/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.3.2/node_modules/tailwindcss/stubs/**/*
fly.toml
